/* Define basic color palatte */
:root {
    --bg: #2a4b70;
    --text: #8aaace;
    --accent: #3d6491;
    --border: #25384d;

    --font: "Space Grotesk", sans-serif;
}



body {
    background-color: var(--bg);
    margin: 0;

    /* Add defaults for each element to keep to the DRY principle */
    font-family: var(--font);
    color: var(--text);
}



.container {
    display: flex;
    margin: 0;
    padding: 5px;
}

.centered {
    justify-content: center;
}

.btn {
    background-color: var(--accent);
    font-family: inherit;
    border-radius: 10px;
    border: solid 5px var(--border);
    color: var(--text);
    width: 130px;
    height: 45px;
    cursor: pointer;
}



#timer {
    font-size: 120px;

    /* Remove most margins so the timer isn't too far down the page */
    margin: 25px;
}